<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Data</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <%- include("header") %>
        <h2>User Data List</h2>
        <table>
            <thead>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Actions</th>
            </thead>
            <% data.forEach((item)=> { %>
                <tr>
                    <td style="text-align: center;">
                        <%=item.id%>
                    </td>
                    <td><%=item.first_name%></td>
                    <td><%=item.last_name%></td>
                    <td><%=item.username%></td>
                    <td><%=item.password%></td>
                    <td><%=item.email%></td>
                    <td><a href="/detail?id=<%=item.id%>">Details</a></td>
                </tr>
            <% }); %>
        </table>
        <%- include("footer") %>

</body>

</html>